<%= form_with(model: request, remote: true) do |form| %>
    <!-- Errors explanation -->
    <% if request.errors.any? %>
        <%= errors_for(request, "tu petición") %>
    <% end %>
    <!-- Participants -->
    <div class="form-group">
        <%= form.label :participants, "Correos de los alumnos participantes", class: "col-md-6 control-label" %>
        <div class="form-row">
            <%= form.fields_for :participants, OpenStruct.new(array_to_hash(form.object.participants) || {}) do |participant| %>
            <div class="col-md-3">
                <%= participant.email_field("0", { class: "form-control", multiple: true, name: 'request[participants][0]', 'aria-describedby': "emailHelp", disabled: true, value: current_user.google_email }) %>
            </div>
            <div class="col-md-3">
                <%= participant.email_field("1", { class: "form-control", multiple: true, name: 'request[participants][1]', 'aria-describedby': "emailHelp", placeholder: "Mail alumno 2" }) %>
            </div>
            <div class="col-md-3">
                <%= participant.email_field("2", { class: "form-control", multiple: true, name: 'request[participants][2]', 'aria-describedby': "emailHelp", placeholder: "Mail alumno 3" }) %>
            </div>
            <div class="col-md-3">
                <%= participant.email_field("3", { class: "form-control", multiple: true, name: 'request[participants][3]', 'aria-describedby': "emailHelp", placeholder: "Mail alumno 4" }) %>
            </div>
            <% end %>
        </div>
        <small class="form-text">No compartiremos estos correos con nadie.</small>
    </div>
    <!-- Course -->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <%= form.label :course, "Curso", class: "col-md-2 col-form-label text-center" %>
        <div class="col-md-6">
            <%= form.collection_select(:course_id, Course.all, :id, :name, {}, { id: "course", onchange: "fillCalendar()", class: "form-control" }) %>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Contents -->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <%= form.label :contents, "Contenidos", class: "col-md-2 col-form-label text-center" %>
        <div class="col-md-6">
            <%= form.text_area(:contents, { class: "form-control" }) %>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Format -->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <%= form.label :contents, "Format", class: "col-md-2 col-form-label text-center" %>
        <div class="col-md-6">
            <%= form.select :format, options_for_select([["Presencial", "presencial"], ["Online", "online"]]), :class => 'genForm_dropBox' %>
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Preferences -->
    <div class="form-group row" id="preferences">
        <div class="col-md-2"></div>
        <%= form.label :preferences, "Preferencias", class: "col-md-2 col-form-label text-center" %>
        <!-- Preferences (display) -->
        <div class="col-md-6">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <!-- Preferences (hidden) -->
        <% 3.times do |i| %>
            <%= form.hidden_field :preferences_time_blocks, multiple: true %>
            <%= form.hidden_field :preferences_dates, multiple: true %>
        <% end %>
    </div>
    <!-- Preferences (calendar) -->
    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="event_calendar"></div>
        <div class="col-md-2"></div>
    </div>
    <!-- Submit -->
    <div class="form-actions">
        <div class="col-auto">
            <%= button_tag(class: "btn btn-primary btn-lg") do %>
            <span class="fa fa-graduation-cap"></span> Pedir clase
            <% end %>
        </div>
    </div>
<% end %>