<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :participants %><br>
    <%= form.number_field :participants, in: 1..4, value: 1 %>
  </div>
 
  <div class="field">
    <%= form.label :course %><br>
    <%= form.collection_select(:course_id, Course.all, :id, :name, {}, {id: "course", onchange: "updateFromCourse();"}) %>
  </div>

  <div class="field">
    <%= form.label :contents %><br>
    <%= form.text_area :contents %>
  </div>

  <div class="field">
    <%= form.label :first_preference %><br>
    <%= form.collection_select(:preference_blocks, TimeBlock.all, :id, :display_block, {}, { name: 'request[preference_blocks][]', id: "first_preference", onchange: "updateFromTimeBlock(1);" }) %>
    <%= form.collection_select(:preference_dates, [], nil, nil, {}, { name: 'request[preference_dates][]', id: "first_date", include_blank: true, default: nil }) %>
  </div>

  <div class="field">
    <%= form.label :second_preference %><br>
    <%= form.collection_select(:preference_blocks, TimeBlock.all, :id, :display_block, {}, { name: 'request[preference_blocks][]', id: "second_preference", onchange: "updateFromTimeBlock(2);" }) %>
    <%= form.collection_select(:preference_dates, [], nil, nil, {}, { name: 'request[preference_dates][]', id: "second_date", include_blank: true, default: nil }) %>
  </div>

  <div class="field">
    <%= form.label :third_preference %><br>
    <%= form.collection_select(:preference_blocks, TimeBlock.all, :id, :display_block, {}, { name: 'request[preference_blocks][]', id: "third_preference", onchange: "updateFromTimeBlock(3);" }) %>
    <%= form.collection_select(:preference_dates, [], nil, nil, {}, { name: 'request[preference_dates][]', id: "third_date", include_blank: true, default: nil }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
