<h1>Listing requests</h1>
 
<table>
  <tr>
    <th>Participants</th>
    <th>Contents</th>
    <% unless current_user.role?(:student) %>
    <th>User</th>
    <% end %>
    <th>Course</th>
    <th>Preferences</th>
    <% unless current_user.role?(:student) %>
    <th>Status</th>
    <% end %>
    <th></th>
    <% if can? :destroy, Request %>
    <th></th>
    <% end %>
  </tr>
 
  <% @requests.each do |request| %>
    <tr>
      <td>
        <ol>
          <% request.participants_mails.each do |participant_email| %>
            <li><%= participant_email %></li>
          <% end %>
        </ol>
      </td>
      <td><%= request.contents %></td>
      <% unless current_user.role?(:student) %>
      <td><%= request.user.google_email %></td>
      <% end %>
      <td><%= request.course.name %></td>
      <td>
        <ol>
          <% request.preferences.each do |preference| %>
            <li><%= preference.display_preference %></li>
          <% end %>
        </ol>
      </td>
      <% unless current_user.role?(:student) %>
      <td><%= request.display_status %></td>
      <% end %>
      <td><%= link_to 'Show', request_path(request) %></td>
      <% if can? :destroy, Request %>
      <td><%= link_to 'Destroy', request_path(request),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if can? :new, Request %>
<%= link_to 'New Request', new_request_path %>
<% end %>
<%= link_to 'Back', root_path %>
