<div class="container text-center">
    <% if current_user.role? :admin %>
    <h1 class="mt-5">Peticiones recibidas</h1>
    <p class="lead">Estas son las solicitudes de clases que han realizado alumnos en la plataforma</p>
    <% else %>
    <h1 class="mt-5">Peticiones enviadas</h1>
    <p class="lead">Estas son las solicitudes de clases en que participarías</p>
    <% end %>
</div>

<div class="container text-center">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Curso</th>
                <th>Contenidos</th>
                <th>Alumnos</th>
                <% unless current_user.role?(:student) %>
                <th>Estado</th>
                <% end %>
                <th>Fechas</th>
                <% unless can? :destroy, Request %>
                <th>Acciones</th>
                <% else %>
                <th colspan="2">Acciones</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @requests.each do |request| %>
            <tr>
                <th scope="row">
                    <%= request.course.name %>
                </th>
                <td>
                    <%= request.contents %>
                </td>
                <td>
                    <%= request.participants_mails.length %>
                </td>
                <% unless current_user.role?(:student) %>
                <td>
                    <%= request.display_status %>
                </td>
                <% end %>
                <td>
                    <ol>
                        <% request.preferences.each do |preference| %>
                        <li>
                            <%= preference.display_preference %>
                        </li>
                        <% end %>
                    </ol>
                </td>
                <td>
                    <%= link_to('Ver', request_path(request)) %>
                </td>
                <% if can? :destroy, Request %>
                <td>
                    <%= link_to('Eliminar', request, method: :delete, data: { confirm: '¿Estás segur@?' }) %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="container">
    <% if can? :new, Request %>
        <%= link_to('Pedir una clase', new_request_path, { class: "btn btn-primary" }) %>
    <% end %>
</div>