<h1>Listing requests</h1>
 
<table>
  <tr>
    <th>Participants</th>
    <th>Contents</th>
    <th>User</th>
    <th>Course</th>
    <th>Preferences</th>
    <th></th>
  </tr>
 
  <% @requests.each do |request| %>
    <tr>
      <td><%= request.participants %></td>
      <td><%= request.contents%></td>
      <td><%= request.user.google_email%></td>
      <td><%= request.course.name%></td>
      <td>
        <ol>
          <% request.preferences.each do |preference| %>
            <li><%= preference.display_preference %></li>
          <% end %>
        </ol>
      </td>
      <td><%= link_to 'Show', request_path(request) %></td>
      <td><%= link_to 'Destroy', request_path(request),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Request', new_request_path %>
<%= link_to 'Back', root_path %>
