<p>
  <strong>Participants:</strong>
  <%= @request.participants %>
</p>
 
<p>
  <strong>Contents:</strong>
  <%= @request.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.google_email %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @request.course.name, course_path(@request.course) %>
</p>

<p><strong>Preferences:</strong></p>
<ol>
  <% @request.preferences.each do |preference| %>
    <li>(<%= preference.priority %>) <%= link_to preference.time_block.display_block, time_block_path(preference.time_block) %>, <%= preference.date.strftime("%A") %>, <%= preference.date.strftime("%D") %></li>
  <% end %>
</ol>


<%= link_to 'Back', requests_path %>
