<p>
  <strong>Participants:</strong>
  <%= @request.participants %>
</p>
 
<p>
  <strong>Contents:</strong>
  <%= @request.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.google_email %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @request.course.name, course_path(@request.course) %>
</p>

<%= link_to 'Back', requests_path %>
