<p>
  <strong>Participants:</strong>
  <%= @request.participants %>
</p>
 
<p>
  <strong>Contents:</strong>
  <%= @request.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user.google_email %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to @request.course.name, course_path(@request.course) %>
</p>

<p><strong>Preferences:</strong></p>
<ol>
  <% @request.preferences.each do |preference| %>
    <li><%= preference.display_preference %>
      <ol>
        <% preference.candidates(@request.course).each do |teaching_assistant| %>
          <li><%= link_to teaching_assistant.name, teaching_assistant_path(teaching_assistant) %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>


<%= link_to 'Back', requests_path %>
