<p id="notice"><%= notice %></p>

<p>
  <strong>Teaching assistant:</strong>
  <%= link_to @confirmed_class.teaching_assistant.name, teaching_assistant_path(@confirmed_class.teaching_assistant) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @confirmed_class.display_status %>
</p>

<p>
  <strong>Preference:</strong>
  <%= @confirmed_class.preference.display_preference %>
</p>

<p><strong>Requests:</strong></p>
<ul>
  <% @confirmed_class.requests.each do |request| %>
    <% if can? :show, Request %>
    <li><%= link_to request.contents, request_path(request) %></li>
    <% else %>
    <li><%= request.contents %></li>
    <% end %>
  <% end %>
</ul>

<% if can? :edit, ConfirmedClass %>
<%= link_to 'Edit', edit_confirmed_class_path(@confirmed_class) %>
<% end %>
<%= link_to 'Back', confirmed_classes_path %>
