<p id="notice"><%= notice %></p>

<p><strong>Name:</strong> <%= @course.name %></p>

<p><strong>Teaching assistants:</strong></p>
<ul>
  <% @course.teaching_assistants.each do |teaching_assistant| %>
  	<li><%= link_to teaching_assistant.name, teaching_assistant_path(teaching_assistant) %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
