<p id="notice"><%= notice %></p>

<p><strong>Name:</strong> <%= @course.name %></p>

<% if !current_user.role?(:student) %>
	<p><strong>Teaching assistants:</strong></p>
	<ul>
	  <% @course.teaching_assistants.each do |teaching_assistant| %>
      <% if can? :show, teaching_assistant %>
	  	<li><%= link_to teaching_assistant.name, teaching_assistant_path(teaching_assistant) %></li>
      <% else %>
      <li><%= teaching_assistant.name %></li>
      <% end %>
	  <% end %>
	</ul>
<% end %>

<p><strong>Available modules:</strong></p>
<ul>
  <% @course.available_modules.each do |time_block| %>
  	<% if can? :show, TimeBlock %>
    <li><%= link_to time_block.display_block, time_block_path(time_block) %></li>
    <% else %>
    <li><%= time_block.display_block %></li>
    <% end %>
  <% end %>
</ul>

<% if can? :edit, Course %>
<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>
<%= link_to 'Back', courses_path %>
