<div class="container text-center">
    <h1 class="mt-5">Modulos disponibles</h1>
    <p class="lead">Las clases se pueden pedir y realizar en los siguientes módulos</p>
</div>

<div class="container text-center">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Dia</th>
                <th>Inicio</th>
                <th>Término</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% @time_blocks.each do |time_block| %>
            <tr>
                <th scope="row">
                    <%= time_block.display_day %>
                </th>
                <td>
                    <%= time_block.display_start %>
                </td>
                <td>
                    <%= time_block.display_finish %>
                </td>
                <td>
                    <%= link_to('Ver', time_block) %>
                </td>
                <td>
                    <%= link_to('Editar', edit_time_block_path(time_block)) %>
                </td>
                <td>
                    <%= link_to('Eliminar', time_block, method: :delete, data: { confirm: '¿Estás segur@?' }) %>
                </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="container">
    <% if can? :new, TimeBlock %>
        <%= link_to('Agregar módulo', new_time_block_path, { class: "btn btn-primary" }) %>
    <% end %>
</div>
