<%= form_with(model: teaching_assistant, local: true) do |form| %>
  <% if teaching_assistant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teaching_assistant.errors.count, "error") %> prohibited this teaching_assistant from being saved:</h2>

      <ul>
      <% teaching_assistant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :courses %>
    <%= form.collection_check_boxes :course_ids, Course.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :time_blocks %>
    <%= form.collection_check_boxes :time_block_ids, TimeBlock.all, :id, :display_block %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
