<div class="container text-center">
    <h1 class="mt-5">Ayudantes</h1>
    <p class="lead">Este es el equipo con el que contamos para este semestre</p>
</div>

<div class="container text-center">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th>Correo</th>
                <% if current_user.role?(:admin) %>
                <th>Celular</th>
                <th colspan="3">Acciones</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @teaching_assistants.each do |teaching_assistant| %>
            <tr>
                <% if can? :show, TeachingAssistant %>
                <th scope="row">
                    <%= link_to(teaching_assistant.name, teaching_assistant) %>
                </th>
                <% else %>
                <th scope="row">
                    <%= teaching_assistant.name %>
                </th>
                <% end %>
                <td>
                    <%= teaching_assistant.email %>
                </td>
                <% if current_user.role?(:admin) %>
                <td>
                    <%= number_to_phone(teaching_assistant.phone_number, delimiter: " ") %>
                </td>
                <td>
                    <%= link_to('Editar', edit_teaching_assistant_path(teaching_assistant)) %>
                </td>
                <td>
                    <%= link_to('Eliminar', teaching_assistant, method: :delete, data: { confirm: '¿Estás segur@?' }) %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="container">
    <% if can? :new, TeachingAssistant %>
        <%= link_to('Agregar ayudante', new_teaching_assistant_path, { class: "btn btn-primary" }) %>
    <% end %>
</div>
