<p id="notice"><%= notice %></p>

<p><strong>Name:</strong> <%= @teaching_assistant.name %></p>

<p><strong>Email:</strong> <%= @teaching_assistant.email %></p>

<% if current_user.role?(:admin) || current_user.google_email == @teaching_assistant.email %>
<p><strong>Phone number:</strong><%= number_to_phone(@teaching_assistant.phone_number, delimiter: " ") %></p>
<% end %>

<p><strong>Courses:</strong></p>
<ul>
  <% @teaching_assistant.courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %></li>
  <% end %>
</ul>

<% if current_user.role?(:admin) || current_user.google_email == @teaching_assistant.email %>
<p><strong>Time blocks:</strong></p>
<ul>
  <% @teaching_assistant.time_blocks.each do |time_block| %>
    <% if can? :show, TimeBlock %>
    <li><%= link_to time_block.display_block, time_block_path(time_block) %></li>
    <% else %>
    <li><%= time_block.display_block %></li>
    <% end %>
  <% end %>
</ul>
<% end %>


<% if current_user.google_email == @teaching_assistant.email %>
<%= link_to 'My CCs', confirmed_classes_path %>
<% end %>
<% if can? :edit, @teaching_assistant %>
<%= link_to 'Edit', edit_teaching_assistant_path(@teaching_assistant) %>
<% end %>
<%= link_to 'Back', teaching_assistants_path %>
